/*****RESET*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/*********************DEBUT**********************/

body
{
    font-family: 'Raleway',  Arial, Helvetica, sans-serif;
}

/********************header**********************/

header{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 20px;
}


#logo
{
        width: 120px;
        height: 50px;
        margin-bottom: 7px;
        margin-left: 30px;
}

/*************Menu du header************************************/

nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
}

#navbar_menu{
        
        /*border: solid orange;*/
}

nav ul
{
        /*border: solid black;*/
        /*display: flex;*/
        display:flex;
        justify-content: flex-end;
        padding-right: 90px;
}


nav li
{

        margin-left: 50px;
        width: 100%;
}

#navbar_register{
        
        /*width:10%;*/
        display: flex;
        order: 3;
        /*border: solid green;*/
}

.navbar_link_register{
        
        /*border: solid pink;*/
        font-weight: bold;
        color: #0065FC;
  
}



/**********mise en forme des liens**************/

a
{
    text-decoration: none;
    color: black;
}

.navbar_link1
{
    border-top: 2px solid #0065FC;
}

.navbar_link1,.navbar_link2:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/******************MAIN***************************/

h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
}

p
{
   margin-top: 10px;
  
}



.logo_search
{

}

.search_button
{

}

.info-img-search
{
  display: none;
  color: #0065FC
}



/**************BARRE DE RECHERCHE Desktop***************/



h1
{
    margin-left: 30px;
}

p
{
   margin-left: 30px;
  
}

#search_bar
{
    display: flex;
    /*height: 50px;*/
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    border: solid red;
    width:30%;
    height: 50px;
    margin-left: 30px;
}

.icon
{
    width: 10%;
    background-color: #F2F2F2;
    border: solid #F2F2F2;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}


}
#input_search_bar
{
    width:70%;
    border: 1px solid #F2F2F2;
}

#input_search_bar
{
    text-decoration: none;
    color:black;
    font-size: 1.2em;
    font-weight: bold;
}
   
#search_button
{
   background-color: #0065FC;
   border: solid #0065FC;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
    width:30%;
   /*display: flex;
   justify-content: center;
   align-items: center;*/
   
}

#span_search_button
{
   color: white;
   font-size: 1.2em;
   text-align: center;
   display: ;
}

.info-img-search
{
   display: none;
}







/***************MOBILE****************************/
@media screen and (max-width: 375px){
 
header{
        
      display: flex;
      flex-wrap: wrap;
      width: 100%;

}

/*#logo{
 margin-left: 20px;
}*/
  
nav
{
     
       width:100%;
       height: 50px;
       margin-top: 10px;
      /*display:flex;
      justify-content: center;*/
  }
  
  
#navbar_register{
        
        width: 55%;
        order: initial;
        justify-content:flex-end;
}

nav ul
{
  padding-right: 0px;
  display: flex;
  width:98%;

  
  /*flex-direction: row;
  flex-wrap: nowrap;*/

}

nav li
{
  /*margin-left: 50px;*/

  display: ;
 flex: 1 ;
 justify-content: center;
  margin-left: 10px;
  text-align: center;
  /*width: 190px ;*/
  font-size: 1.2em;
}
    
/*li
{
margin-left: 50px;
text-align: center;
}*/

/**********mise en forme des liens MOBILE**************/

.navbar_link1
{

    border-top: 2px solid white;
    border-bottom: 2px solid #0065FC;
    margin-left: 35px;
    /*width:50%;*/

  
}


.navbar_link2
{
    border-bottom: 2px solid #F2F2F2;
    margin-right: 10px;
    /*width: 50%;*/

}

/************MAIN version mobile*************/

h1
{
  
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

p
{
  
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
  
}

/**************BARRE DE RECHERCHE MOBILE***************/

#search_bar
{
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 50px;
    width: 95%;
}

.icon
{
    width: 15%;
    background-color: #F2F2F2;
    border: solid #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#input_search_bar
{
    width:70%;
    border: 1px solid #F2F2F2;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.2em;
    
}

#logo_search
{
   background-color: #0065FC;
   border: solid #0065FC;
   border-radius: 20px;
   width:15%;
   
}

#span_search_button
{
  
   display: none;
}

.info-img-search
{
   border: solid #0065FC;
   color:white;
   font-size: 20px;
   background-color: #0065FC;
}



}



