/*****RESET*******/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/*********************DEBUT**********************/

body
{
    font-family: 'Raleway',  Arial, Helvetica, sans-serif;
}

/********************header**********************/

header{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 20px;
}


#logo
{
        width: 120px;
        height: 50px;
        margin-bottom: 7px;
        margin-left: 30px;
}

/*************Menu du header************************************/

nav{
        width: 85%;
        display: flex;
        justify-content: flex-end;
}


nav ul
{
        display:flex;
        justify-content: flex-end;
        justify-content: space-around;
        padding-right: 90px;
}


nav li
{
        margin-left: 50px;
        width: 100%;
}

#navbar_register{
        
        display: flex;
        order: 3;

}

.navbar_link_register{
        
        /*border: solid pink;*/
        font-weight: bold;
        color: #0065FC;
  
}



/**********mise en forme des liens**************/

a
{
    text-decoration: none;
    color: black;
}

.navbar_link1:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC; 
}


.navbar_link2:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/******************MAIN***************************/

h1
{
    font-size: 1.8em;
    font-weight: bold;
    margin-top: 20px;
}

#para_header
{
   margin-top: 10px;
  
}


.info-img-search
{
  display: none;
  color: #0065FC
}



/**************BARRE DE RECHERCHE Desktop***************/



h1
{
    margin-left: 30px;
}

#para_header
{
   margin-left: 30px;
  
}

#search_bar
{
    display: flex;
    /*height: 50px;*/
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    width:30%;
    height: 50px;
    margin-left: 30px;
}

.icon
{
    width: 10%;
    background-color: #F2F2F2;
    border: solid #F2F2F2;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}



#input_search_bar
{
    width:70%;
    border: 1px solid #F2F2F2;
}

#input_search_bar
{
    text-decoration: none;
    color:black;
    font-size: 1.2em;
    font-weight: bold;
}
   
#search_button
{
   background-color: #0065FC;
   border: solid #0065FC;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
    width:30%;
   /*display: flex;
   justify-content: center;
   align-items: center;*/
   
}

#span_search_button
{
   color: white;
   font-size: 1.2em;
   text-align: center;
}

.info-img-search
{
   display: none;
}

/*******************FILTRES*************************/

h2
{
    margin-left: 30px;
    color:black;
    font-weight: bold;
}

button 
{
    text-decoration: none;
    border: none;
    background: transparent;
}

#info_filter
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

#filter_content
{
    display: flex;
    align-items: center;
    width:60%;
}

.content1, .content2
{
width: 100%;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;

}

/**********************Mise en forme du filtre***************************/

#economic_button, #family_button, #romantic_button, #button_pets_allowed
{
    border: 4px solid #F2F2F2;
    /*border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;*/
    border-radius: 51px;
    border-left:none;
    color: black;
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 20px;
    height: 51px;
    width: 50%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    /*position: relative;*/
}

.eco_icon,.family_icon,.romantic_icon,.pets_icon
{
    border: 2px solid #DEEBFF;
    border-radius: 51px;
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;

}

#span_eco,#span_family,#span_romantic,#span_pets
{
    display: block;
    margin-left: 10px;
}

/******************RESULTAT DE LA RECHERCHE*******************/

#para_circle_icon
{
    display: flex;
    align-items: baseline;
    /*justify-content: space-between;*/
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
}

.circle_icon
{
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 20px;
}

/***********************SECTION Les plus populaires****************/

#most_popular
{
    padding-top: 40px;
    margin-top: 40px;
    background-color: #F2F2F2;
    border: solid black;
    width: 25%;
    height: 520px;
    display: block;
}

#most_popular_title
{
    margin-bottom: 30px;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
}

.most_popular_icon
{
    margin-right: 15px;
}

#most_popular_cards
{
    background-color: #F2F2F2;
    display: block;
    margin-right: 10px;
}

.link_card_popular_img
{
    border:solid white;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.card_popular_img img
{
    width: 110px;
    height: 120px;
    border: solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card_description
{
border: solid red;
width: 50%;
margin-top: 10px;
margin-left: 10px;
}

.card_popular_info h3
{
font-weight: bold;

}

.card_popular_info p
{
margin-top: 10px;
}


.card_popular_star
{
color: #0065FC;
margin-top: 35px;
font-size: 0.8em;
}

 .popular_last_star2, .popular_last_star3
{
color: #DEEBFF;
}


/***************MOBILE****************************/
@media screen and (max-width: 375px){
 
header{
        
      display: flex;
      flex-wrap: wrap;
      width: 100%;

}

/*#logo{
 margin-left: 20px;
}*/
  
nav
{
     
       width:100%;
       height: 50px;
       margin-top: 20px;
      /*display:flex;
      justify-content: center;*/
  }
  
  
#navbar_register{
        
        width: 48%;
        order: initial;
        justify-content:flex-end;
}

nav ul
{
  padding-right: 0px;
  display: flex;
  width:98%;

  
  /*flex-direction: row;
  flex-wrap: nowrap;*/

}

nav li
{
  /*margin-left: 50px;*/

 flex: 1 ;
 justify-content: center;
  margin-left: 10px;
  text-align: center;
  /*width: 190px ;*/
  font-size: 1.2em;
}
    
/*li
{
margin-left: 50px;
text-align: center;
}*/

/**********mise en forme des liens MOBILE**************/

.navbar_link1
{
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    margin-left: 35px;

}

.navbar_link2
{
    border-bottom:2px solid #F2F2F2;
    margin-right: 10px;

}

.navbar_link1:hover,.navbar_link2:hover
{
    color: #0065FC;
    border-top:none;
    border-bottom: 2px solid #0065FC;
}


/************MAIN version mobile*************/

h1
{
  
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
}

#para_header
{
  
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
  
}

/**************BARRE DE RECHERCHE MOBILE***************/

#search_bar
{
    display: flex;
    margin-left: 25px;
    margin-top: 30px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    height: 50px;
    width: 90%;
}

.icon
{
    width: 15%;
    background-color: #F2F2F2;
    border: solid #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#input_search_bar
{
    width:70%;
    border: 1px solid #F2F2F2;
    border-right: none;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 1.2em;
    
}

#search_button
{
   background-color: #0065FC;
   border: solid #0065FC;
   border-radius: 20px;
   width:15%;
   
}

#span_search_button
{
  
   display: none;
}

.info-img-search
{
   display:flex;
   justify-content: center;
   align-items: center;
    border: solid #0065FC;
   color:white;
   font-size: 20px;
   background-color: #0065FC;
}

/*************Filtres***************/

#filter_content
{
    display: block;
    width:95%;
    margin-top: 10px;
}

#economic_button
{
width: 55%;

}

#family_button
{
    width: 45%;
}

.content2
{
    display: block;
}

#romantic_button
{
margin-top: 10px;
}

#button_pets_allowed
{
    display: flex;
    width: 60%;
    margin-top: 10px;
}

/******************RESULTAT DE LA RECHERCHE*******************/

#para_circle_icon
{
    width: 89%;
}

.circle_icon
{
    margin-right: 10px;
}

/*******************SECTION Plus populaires MOBILE***************/

#most_popular
{
    background-color: #F2F2F2;
    border: solid black;
    width: 98%;

}

#most_popular_title
{
    display: flex;
    border: color pink;
}

.link_card_popular_img
{

    background-color: white;
}

.card_popular_img img
{
    width: 110px;
    height: 120px;
}

}